.All{
    display: flex;
    flex-direction: row;
    margin-top: 25%;
    margin-right: -40%;
    justify-content: center;
    align-items: center;

}

img{
    width: 25%;
    height: 25%;
}

.text{
    margin-left: 6%;
    margin-top: -3%;
    gap: 1%;
}

h1{
    color: white;
}
h3{
    color: gray;
     margin-top: -13%;
    
}

@media (max-width: 400px) {
    .All {
      
      display: none;
    
    }}