.all{
    background: linear-gradient(rgb(5, 28, 48, 100%), rgb(0, 48, 102, 100%));
    display: flex;
    height: 730px;
    
}

.leftside{
    width: 30%;
    border-color: white;
    border-right-width: 5px;
    border-right-style: solid;
}



.midside{
    width: 45%;
    border-color: white;
    border-right-width: 5px;
    border-right-style: solid;
}

.containerRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{ 
    margin-top: 5%;
    margin-left: 9%;
    width: 35%;

}

@media (max-width: 400px) {
  .all {
    background: linear-gradient(rgb(5, 28, 48, 100%), rgb(0, 48, 102, 100%));
    display: flex;
    flex-direction: column; /* Cambiamos a una disposición vertical */
    align-items: center; /* Centramos todo verticalmente en dispositivos móviles */
  }
  
  .leftside, .midside {
    width: 100%; /* Ocupa todo el ancho disponible en dispositivos móviles */
    border: none; /* Eliminamos el borde en dispositivos móviles */
  }
  
  button {
    margin-top: auto; /* Mueve el botón hacia la parte inferior */
    margin-left: auto; /* Centramos horizontalmente el botón en dispositivos móviles */
    margin-right: auto; /* Centramos horizontalmente el botón en dispositivos móviles */
    margin-bottom: 5%; /* Espaciado inferior más pequeño en dispositivos móviles */
    font-size: 10px;
  }
  
  h2 {
    display: none;/* Espaciado superior más pequeño en dispositivos móviles */

    }
  
  img{
    width: 30px;
    margin-left: 230px;
    margin-top: 20px;
  }


}

button {
  margin-top: 25%;
    margin-left: 8%;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  

  
  button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  button:hover .icon {
    transform: translate(4px);
  }
  
  button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }

 h2{
  color: white;
  margin-left: 25%;
  margin-top: 20%;
  font-family: "Helvetica", Arial, sans-serif;
 }

 .sectionfriends{
  font-family: "Helvetica", Arial, sans-serif;
  margin-top: -15%;
 }